{% extends 'dashboard/layout.html' %}
{% load category_tags %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page partner{% endblock %}

{% block title %}
    {{ title }} | {% trans "Boutiques" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:partner-list' %}">{% trans "Boutiques" %}</a>
        </li>
        <li class="active">Créer une nouvelle boutique</li>
    </ul>
{% endblock %}

{% block headertext %}Créer une nouvelle boutique{% endblock %}

{% block dashboard_content %}
    <div class="well">
        {% include 'dashboard/partials/form.html' with form=form %}
    </div>
{% endblock dashboard_content %}
