{% extends "layout.html" %}
{% load static %}
{% load promotion_tags %}
{% load i18n %}

{% block body_class %}home-page{% endblock body_class %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <p></p>
        <h3>{% trans "Terms of Service" %}</h3>
        <div>
            <p>
                <strong>1. Application</strong><br/>
                This notice applies to:<br/>
                1. the use of mshwines.com;<br/>
                2. all information stored on or receivable through this or any other mshwines.com server ("Information").
            </p>
            <p>
                <strong>2. Copyright</strong><br/>
                The Information may be protected under intellectual property laws and rights (including without limitation laws protecting copyright). If the User downloads, copies, transmits, publishes, stores or otherwise uses the Information without the consent of the owner of such rights, the User may infringe such laws or rights. It is the User's responsibility to determine whether any such infringement ("Copyright Infringement") will occur.
            </p>
            <p>
                <strong>3. General Disclaimer</strong><br/>
                MSH wines expressly disclaims any responsibility, representation or warranty:<br/>
                1. in relation to the quality, operation, use, accuracy, or timeliness of, or the fitness or use for any purpose of, mshwines.com or the Information;<br/>
                2. in relation to any goods or services accessed, offered or obtained through mshwines.com or pursuant to the Information;<br/>
	            3. that any access to mshwines.com or the Information will be uninterrupted or error free or that the Information does not contain any viruses, or contaminating or destructive properties;<br/>
	            4. that the Information will not be objectionable or offensive to the User or any other person;
            </p>
            <p>
                <strong>4. Third Parties Websites</strong><br/>
                mshwines.com may contain materials produced by third parties or links to other websites. MSH wines accept no responsibility or liability in respect of any such third party materials or for the operation or content of other websites (whether or not linked to mshwines.com) which are not under MSH wines' direct control. MSH wines reserves the right to require the removal of any link from another website to mshwines.com which is installed without obtaining the prior written consent of MSH wines.
            </p>
            <p>
                <strong>5. Limitation of Liability</strong><br/>
                MSH wines shall not be liable to the User or any other person whether in tort, contract, statute or otherwise (including without limitation for negligence, breach of contract, defamation, or intellectual property right infringement) for:<br/>
                1. any direct loss;<br/>
	            2. any consequential or indirect loss (including without limitation loss of revenue or profits); or<br/>
	            3. the User's liability to any other person, which is suffered or incurred by the User or any other person arising under or in any way out of the Information or mshwines.com's use.
            </p>
            <p>
                <strong>6. Confidentiality</strong><br/>
                MSH wines does not warrant (and accepts no responsibility for) confidentiality of any information or data whether personal or otherwise transmitted through mshwines.com. MSH wines' current practice is to take reasonable steps to maintain confidentiality.
            </p>
            <p>
                <strong>7. Availability and Suitability of Services</strong><br/>
                MSH wines does not warrant that the information or materials contained in mshwines.com are current or accurate or that any of the products or services featured on mshwines.com are available. MSH wines may change the materials appearing on mshwines.com at any time without notice.
            </p>
            <p>
                <strong>8. Users Obligations</strong><br/>
                In consideration of MSH wines allowing the User access to the Information and / or mshwines.com, the User agrees:<br/>
                1. not to carry out or allow any Copyright Infringement;<br/>
                2. not to use the Information or the User's access to mshwines.com for any illegal, improper, obscene or defamatory purpose;<br/>
                3. to take all steps to ensure the Information does not damage the User's information or systems;<br/>
                4. to ensure that all information which you provide to mshwines.com is true and accurate to the best of your knowledge;<br/>
                5. to MSH wines conducting research on access to the Information;<br/>
                6. to all MSH wines' disclaimers and limitations of liability set out in this notice; and<br/>
                7. to MSH wines' personal data policies current from time to time applying.
            </p>
            <p>
                <strong>9. Indemnity</strong><br/>
                User agrees to hold MSH wines harmless and indemnify MSH wines against all losses, damages, claim, demands, liabilities, costs (including legal costs), and expenses in connection with your use of mshwines.com in breach of the terms and conditions herein or negligence.
            </p>
            <p>
                <strong>10. Law and Severability</strong><br/>
                Hong Kong law governs this notice, and each part of this notice shall apply to the extent permitted thereby. Any part of this notice which is prohibited or unenforceable in any jurisdiction is ineffective as to that jurisdiction only to the extent of the prohibition or unenforceability. That does not invalidate the remaining parts of this notice nor affect the validity or enforceability of that part in any other jurisdiction. Where this disclaimer is available in Chinese, the English version is the governing version and shall prevail whenever there is a discrepancy between the two versions.
            </p>
        </div>
    </div>
{% endblock %}
                    
