{% load reviews_tags %}
{% load i18n %}

{% if service.rating != None %}
    <p class="star-rating {{ service.rating|as_stars }}">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>

        <small><a href="#">
                {% blocktrans count service.num_approved_reviews as num_reviews %}
                    {{ num_reviews }} customer review
                {% plural %}
                    {{ num_reviews }} customer reviews
                {% endblocktrans %}
        </a></small>
        &nbsp;
{% else %}
    <p>
{% endif %}

{% if product|is_review_permitted:user %}
    <a id="write_review" href="#" class="btn btn-success btn-sm">
        {% trans "Write a review" %}
    </a>
{% endif %}
</p>
