{% load reviews_tags %}
{% load i18n %}

<article class="review">
    <header>
        <h3 class="star-rating {{ review.score|as_stars }}">
            <span>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
            </span>
            <a href="#">{{ review.title }}</a>
        </h3>
    </header>

    <p>{{ review.body|striptags }}</p>

    <p>
        <small>
            {% if review.user == user %}
                {% blocktrans with review_date=review.date_created %}
                Reviewed by you on {{ review_date }}
                {% endblocktrans %}
            {% else %}

                    Reviewed by <strong> {{ review.user }} </strong> {{ review.date_created }}

            {% endif %}

        </small>
    </p>

</article>
